
  /* background: radial-gradient(#d9d9d9, white); */
  /* random comment for test */
.edition0{
  font-size: 40px;
  font-weight: 800;
  text-shadow: -4px 2px 0px #EA421B, -6px 6px 0px #F5A711, -10px 10px 0px #FCD55E;
}

.edition{
  padding: 20px;
  font-size: 40px;
  font-weight: 800;
  text-shadow: -4px 2px 0px white, -6px 6px 0px #51AF9D, -10px 10px 0px #7CCEB7;
}

.edition2{
  font-size: 40px;
  font-weight: 800;
  text-shadow: -4px 2px 0px #51AF9D;
}

.edition3{
  font-size: 40px;
  font-weight: 800;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
}

.navbar Button{
  font-size: 100%;
}

.navbar_links{
  justify-self: right;
}


.banner{
  align-self: center;
  display: flex;
  height: auto;
  width: 100%;
}
