{/*I have no clue man*/  }

h1 {
    color: green;
  }


{/*need hashtag to enable tag id*/}
{/*padding is basically buubble around the tag + !!! notes in the brackets seem to mess up the code somehow*/}
#sentenceOne {
    color: blue;
    text-align: center;
    background-color: lightblue;
    padding: 50px; 
    font-family: "Comic Sans MS";
    
    
    
}

{/*multiple tags will fall under class id use period*/}
.class{
    color: white;
    background-color:#ff944d;
    padding: 15px;
}

@keyframes pulse {
    0%   {opacity: 20%;}
    50%  {opacity: 100%;}
    100% {opacity: 20%;}
}

{/*#testingImage {
    animation: pulse 2.5s infinite;
}
*/}
