<<<<<<< HEAD
/* FOR TEXT */
.m-deepblue{
  color: #081F25;
}

.m-medblue{
  color: #51AF9D;
}

.m-lightblue{
  color: #7CCEB7;
}

.m-yellow{
  color: #FCD55E;
}

.m-orange{
  color: #F5A711;
}

.m-red{
  color: #EA421B;
}


/* FOR BACKGROUND */
.m-deepblue-bg{
  background-color: #081F25;
}

.m-medblue-bg{
  background-color: #51AF9D;
}

.m-lightblue-bg{
  background-color: #7CCEB7;
}

.m-yellow-bg{
  background-color: #FCD55E;
}

.m-orange-bg{
  background-color: #F5A711;
}

.m-red-bg{
  background-color: #EA421B;
}
=======
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> testing
